@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/*----------------------------------------------------------------------------*/
/*----------------------------- Global Settings ------------------------------*/
/*----------------------------------------------------------------------------*/
:root {
  --primary-color: #3a4052;
  --white-color: #fff;
  --bg-color: rgba(0, 0, 0, 0.3);
  --black-color: #000;
  --secondary-color: #02A27F;
  --light-grey: #f2f2f2;
  --medium-grey: #616161;

}