@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$font-stack: 'Open Sans', sans-serif;
$primary-color:  #3a4052;
$secondary-color: #fff;
$third-color: rgba(0, 0, 0, 0.3);
$fourth-color: #000;
$fifth-color: #02A27F;
$sixth-color: #f2f2f2;
$seventh-color: #616161;
